<% if @entry.errors.any? %>
  <section id="errors" >
    <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <%= content_tag(:li, message) %>
      <% end %>
    </ul>
  </section>
<% end %>

<div>
  <%= form_for @entry do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Your name", required: true %>
    </div>

    <div class="field">
      <%= f.label :message %>
      <%= f.text_field :message, placeholder: "Your message", required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Submit", class:"button" %>
    </div>
  <% end %>
</div>

<% if @entries.empty? %>
  <%= 'No messages yet.' %>
<% else %>
  <ul>
    <% @entries.each do |entry| %>
      <li>
        <div>
          <%= content_tag(:strong, entry.name) %>
          <%= content_tag(:small, "#{time_ago_in_words(entry.created_at)} ago") %>
        </div>
        <div>
          <%= content_tag(:li, entry.message) %>
        </div>
        <div>
          <%= link_to "delete", entry_path(entry), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
