<% if @entry.errors.any? %>
  <section id="errors" >
    <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <%= content_tag(:li, message) %>
      <% end %>
    </ul>
  </section>
<% end %>

<div>
  <%= form_for @entry do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Your name", required: true %>
    </div>

    <div class="field">
      <%= f.label :message %>
      <%= f.text_field :message, placeholder: "Your message", required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Submit", class:"button" %>
    </div>
  <% end %>
</div>

<%= 'No messages yet.' if @entries.empty? %>

<div>
  <% @entries.each do |entry| %>
    <div>
      <%= content_tag(:p, entry.name) %>
      <%= content_tag(:p, entry.message) %>
    </div>
  <% end %>
</div>
